@media(min-width:1200px) {
 img {
  max-height: 720px
 }
 .card {
  height: 757px
 }
}

#work {
  padding: 5rem 5rem;
}

img {
  width: 100%
}



/* Need to work out media queries for 990 - 1125 work out padding below these */
