<div class="card">
  <div class="work-img" style="background: #000"
    on-mouseover='onMouseEnter()'
    on-mouseleave='onMouseLeave()'>
    <img class="card-img-top img-fluid"
      [ngStyle]="{'opacity': coverOpacity}"
      [src]="comic.imageUrl">
    <div class="hover-detail" *ngIf="hover">
      <h4>{{comic.title}}</h4>
      <br>
      <span *ngIf="comic.creators.length > 0">
       <p><strong>Creators: </strong></p>
       <p>{{comic.creators.join(', ')}}</p>
      </span>
      <span *ngIf="comic.characters.length > 0">
          <p><strong>Characters: </strong></p>
          <p>{{comic.characters.join(', ')}}</p>
      </span>

      <p><strong>Description: </strong></p>
      <div class="description"[innerHTML]="comic.description"></div>
      <br>
    </div>
  </div>
</div>

