

 @media(min-width:992px) {
  img {
    max-height: 595px
   }
 }

 @media(min-width:1200px) {
  img {
   max-height: 757px
  }
  .card {
   height: 757px
  }
 }

 .card {
   margin: 10px
 }

 img {
  width: 100%
 }

 .work-img {
   position: relative;
 }

 .hover-detail {
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   color: white;
   font-family: 'Oswald', sans-serif;
 }

 .description {
  position: relative;
 }

