@media(min-width:1200px) {
  img {
   max-height: 720px
  }
  .card {
   height: 757px
  }
 }

 img {
  max-height: 720px;
  width: 100%
 }

 .work-img {
   position: relative;
 }

 h2 {
   position: absolute;
   top: 100px;
   left: 20px;
   width: 100%;
   color: white;
 }

