@media(min-width:1200px) {
  img {
   max-height: 720px
  }
  .card {
   height: 757px
  }
 }

 @media(min-width:992px) {
  img {
    max-height: 595px
   }
 }

 .card {
   margin: 10px
 }

 img {
  width: 100%
 }

 .work-img {
   position: relative;
 }

 h4 {
   position: absolute;
   top: 20px;
   left: 5%;
   width: 90%;
   color: white;
 }

